@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: white;
  padding: 0rem 2rem;
}


.addButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin-right: 1rem;
  width: 4rem;
}

.headerSubtext {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.dailyMatchesContainer {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 2rem;
  margin: 2rem;
  background-color: #f4f4f4;
  width: 100%;
  box-sizing: border-box;
}

.matchesHeader {
  margin-top: 0;
}
