@import "../../../utils/responsive.scss";

.container{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 2rem;
    background-color: white;
}

.sideBySide{
    display: flex;
    margin-top: 1rem;
}

.spacer{
    width: 2rem;
    height: 1rem;
}

.applyButton{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.clearButton{
    margin-bottom: 2rem;
}

.inactiveButton{
    background-color: #f6f6f6;
    color: grey;
}

.inactiveButton:hover{
    cursor: none;
    opacity: 1;
}