@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 5rem;
  padding: 0rem 1rem;
  background-color: white;
  box-sizing: border-box;
}

.addFriend{
    background-color: $blue;
    margin: 2rem 0;
    color: white;
}

.sideBySide{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.createOutingButton{
    width: 48%;
    background-color: $blue;
    color: white;
}

.removeFriendButton{
    width: 48%;
    background-color: $button_grey;
    color: black;
}


.unclickableButton {
    background-color: $button_grey;
    color: grey;
    cursor: default;
    box-shadow: none !important;
    margin: 2rem 0;
  }
  
  .unclickableButton:hover {
    cursor: default !important;
    background-color: $button_grey !important;
    opacity: 1 !important;
  }
  