@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 85rem;
  width: 100%;
  margin-top: 5rem;
}

.addFriend{
    background-color: $blue;
    margin: 2rem 0;
    color: white;
}

.sideBySide{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.createOutingButton{
    width: 48%;
    background-color: $blue;
    color: white;
}

.removeFriendButton{
    width: 48%;
    background-color: $button_grey;
    color: black;
}