.headerContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.subHeader {
  font-size: 1.1rem;
  font-weight: normal;
  color: rgb(63, 63, 63);
}

.header {
  font-size: 2rem;
  display: flex;
  align-items: end;
}

.logo {
  height: 3rem;
  padding: 0 0.3rem 0.2rem 0.3rem;
}

.step {
  width: 100%;
  border-radius: 5px;
}

.safari{
    height: 3rem;
    margin: 0 1rem;
}

.safariContainer{
    display: flex;
    align-items: center;
}
