@import "../../../utils/responsive.scss";

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttonSpacer {
  width: 2rem;
  height: 1rem;
}

.okButton {
  background-color: $green;
  color: white;
}

.cancelButton {
  background-color: $button_grey;
}

.deleteButton{
  background-color: $red;
  color: white;
  font-weight: bold;
}
