@import "../../../utils/responsive.scss";

.outerContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.categoryStripe {
  width: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.innerContainer {
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: $card_grey;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.upperContainer {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.innerNameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.location {
  font-size: 1.1rem;
  color: grey;
  width: 100%;
}

.category {
  margin-left: 0.4rem;
  font-size: 1.1rem;
  color: grey;
}

.select {
  background-color: $blue;
  width: 7rem;
  color: white;
  display: flex;
  align-items: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.remove {
  background-color: $red;
  width: 7rem;
  color: white;
  display: flex;
  align-items: center;
}

.description {
  font-size: 1.4rem;
  color: rgb(96, 96, 96);
  margin-top: 0.5rem;
}

.specsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0 2rem;
}

.buttonContainer {
  display: flex;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
}

.iHeader {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.iContainer {
  display: flex;

  padding: 1rem;
}

.iIconContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.iIcon {
  box-sizing: border-box;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
  height: 4rem;
}

.iRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.iName {
  font-size: 1.4rem;
  font-weight: bold;
}

.iDetails {
  font-size: 1.2rem;
}

.goalContainer {
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.goalIcon {
  height: 3rem;
  padding: 1rem 1rem 1rem 1rem;
}

.goal {
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
}

.completedIcon {
  height: 2.2rem;
  margin-left: 1rem;
}

.nameRightContainer {
  display: flex;
}

.addInstructionButton {
  box-sizing: border-box;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.spacer {
  width: 1.5rem;
}

.selectKindInput {
  text-transform: capitalize;
}

.deleteInstructionButton{
  background-color: $red;
  color: white !important;
  margin-top: 0.5rem;
}
