.outerContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.categoryStripe {
  width: 1rem;
}

.innerContainer {
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  border-left: none;
}

.upperContainer {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.select{
    background-color: rgb(107, 189, 132);
    width: 7rem;
    color: white;
    border-radius: 100rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.description {
  font-size: 1.4rem;
  color: rgb(96, 96, 96);
  margin-top: 0.5rem;
}

.specsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0 2rem;
}
