.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;

  
  :global(.reactEasyCrop_Image) {
    cursor: auto;
    border-radius: 100rem;
  };

  :global(.reactEasyCrop_Container) {
    border-radius: 100rem;
    transform: translateZ(0)
  }

  :global(.reactEasyCrop_CropArea) {
    display: none;
  }
}
