.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;

  :global(.reactEasyCrop_CropArea) {
    display: none;
  }

  :global(.reactEasyCrop_Image) {
    cursor: auto;
  }
}
