@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.topContainer {
  display: flex;
  width: 100%;
  border-top-right-radius: 3px;
  flex-direction: column;
  box-sizing: border-box;
}

.topInnerContainer {
  display: flex;
  background-color: $card_grey;
  padding: 1rem;
  width: 100%;
  border-top-right-radius: 3px;
  justify-content: space-between;
  box-sizing: border-box;
}

.colorStripe {
  height: 0.8rem;
  min-width: 100%;
  flex-grow: 1;
}

.outingDetailsContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.activityName {
  font-size: 1.3rem;
  color: grey;
  font-weight: bold;
  margin-top: 0.2rem;
}

.outingMembers {
  font-size: 1.8rem;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}

.button {
  margin-right: 1rem;
  width: fit-content;
}

.imageContainer {
  display: flex;
}

.image {
  width: 100%;
  cursor: pointer;
  border-radius: inherit;
}

.innerContainerLeft {
  display: flex;
  background-color: inherit;
}

.photosContainer {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  gap: 1px;
}

.container_1 {
  grid-template-columns: 1fr;
}
.container_1 > :nth-child(1){
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.container_2 {
  grid-template-columns: 1fr 1fr;
}
.container_2 > :nth-child(1){
  border-top-left-radius: 3px;
}
.container_2 > :nth-child(2){
  border-top-right-radius: 3px;
}

.container_3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.container_3 > :nth-child(1){
  border-top-left-radius: 3px;
}
.container_3 > :nth-child(2){
  border-top-right-radius: 3px;
}
.container_3 > :nth-child(3) {
  grid-column: span 2;
}

.container_4 {
  grid-template-columns: 1fr 1fr;
}
.container_4 > :nth-child(1){
  border-top-left-radius: 3px;
}
.container_4 > :nth-child(2){
  border-top-right-radius: 3px;
}

.container_5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}
.container_5 > :nth-child(1) {
  grid-column: span 2;
  border-top-left-radius: 3px;
}
.container_5 > :nth-child(2) {
  grid-column: span 2;
}
.container_5 > :nth-child(3) {
  grid-column: span 2;
  border-top-right-radius: 3px;
}
.container_5 > :nth-child(4) {
  grid-column: span 3;
}
.container_5 > :nth-child(5) {
  grid-column: span 3;
}

.container_6 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container_6 > :nth-child(4) {
  grid-column: span 2;
  grid-row: span 2;
}
.container_6 > :nth-child(1){
  border-top-left-radius: 3px;
}
.container_6 > :nth-child(3){
  border-top-right-radius: 3px;
}

.likeIcon {
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.viewActivityButton {
  width: fit-content;
}

.friendsPopupContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border-radius: 3px;
}

.friendsPopupHeader{
    margin: 1rem 0 2rem 0;
    font-size: 1.6rem;
    font-weight: bold;
}
