@import "../../../utils/responsive.scss";

.iconBacker {
  background-color: $card_grey;
}

.container {
  display: flex;
  padding: 1rem;
  background-color: $card_grey;
  margin-bottom: 1rem;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.container:hover {
  cursor: pointer;
  opacity: 0.9;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.ratingsContainer {
  display: flex;
  margin: 0.5rem 0 0 0;
}

.friendLoading {
  padding: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: rgb(250, 250, 250);
}

.leftContainer {
  display: flex;
  flex-grow: 1;
}

