.container{
    display: flex;
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    margin-bottom: 1rem;
    justify-content: space-between;

}


.detailsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userName{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.ratingsContainer{
    display: flex;
    margin: 0.5rem 0 0 0 ;
}

.friendLoading{
    padding: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(250, 250, 250);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    border-radius: 4px;
}

.button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.leftContainer{
    display: flex;
    flex-grow: 1;
}

.rightContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}