@import "../../../utils/responsive.scss";

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  margin-top: $navbar_height;
}

.outer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  @include responsive(
    "width",
    $central_span_width,
    $central_span_width,
    $central_span_width,
    $central_span_width
  );
}

.inner::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.children{
  width: $central_span_width;
  display: flex;
  flex-direction: column;
  height: 100%
}
