@import "../../../utils/responsive.scss";

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 10;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(244, 244, 244);

  @include responsive("width", 40rem, 40rem, 40rem, 40rem);
}
