@import "../../../utils/responsive.scss";

.container {
  display: flex;
  align-items: center;
}

.input {
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  margin-right: 1rem;
  background-color: $card_grey;
}

.label {
  font-size: 1.3rem;
}
