
.pieChart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
}

.photo {
  border-radius: 1000px;
  background-size: cover;
  box-sizing: border-box;
}

.whiteBacker{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 100rem;
  box-sizing: border-box;
}
