@import "../../../utils/responsive.scss";

.header {
  align-items: center;
  background-color: #ffffff;
  justify-content: space-evenly;
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  border-bottom: 2px solid $light_grey;
  height: $navbar_height;
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
}

.innerContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $central_span_width;
}
.none {
  width: 100%;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-left: -0.4rem;
}

.username {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.navButton {
  height: 3.6rem;
  position: relative;
}

.notificationsHover:hover::after {
  content: "Notifications";
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -2.5rem;
  z-index: 1;
}
.createOutingHover:hover::after {
  display: flex;
  text-wrap: nowrap;
  content: "+ Outing";
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -2.5rem;
  z-index: 1;
}
.profileHover:hover::after {
  content: "Profile";
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -2.5rem;
  z-index: 1;
}
.chatsHover:hover::after {
  content: "Chats";
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -2.5rem;
  z-index: 1;
}
.logoutHover:hover::after {
  content: "Logout";
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -2.5rem;
  z-index: 1;
}

.logoButton {
  width: 4rem;
  height: 4rem;
}

.activeLink {
  position: relative;
}

.activeLink::after {
  position: absolute;
  width: 0.54rem;
  height: 0.54rem;
  border-radius: 10rem;
  background-color: $blue;
  border: 0.25rem solid $light_grey;
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 0%);
}

.goButton {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: inherit;
  flex-direction: column;
  border-radius: 300px;
}

.bellIcon {
  height: 2.5rem;
}

.bellIcon:hover {
  cursor: pointer;
}

.notificationBadge {
  display: flex;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 1.8rem;
  height: 1.8rem;
  background-color: $red;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
}

.notificationsButton {
  outline: none;
  border: none;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
