.header {
  align-items: center;
  background-color: #ffdead;
  border-bottom: 3px solid #000;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}

.navItems{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.logo{
  display: flex;
  align-items: center;
}

.username{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}