@import "../../../utils/responsive.scss";

.container{
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.newChatButton{
  background-color: $blue;
  color: white;
  font-weight: bold;
}

.chatsContainer{
  margin-top: 1rem;
}



