@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.usersContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.roundButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: none;
    border: none;
}

.editIcon{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 10px;
}

.editIcon:hover{
    cursor: pointer;
    opacity: 0.7;
}

.greyButton {
  margin: 1rem;
}

.container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.goButton {
  background-color: $green;
  color: white;
  font-size: 1.2rem !important;
  font-weight: bold;
  box-sizing: border-box;
  width: 14rem !important;
  height: 3rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
}

.simpleHeader{
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.balloonIcon{
  height: 1.5rem;
  margin-right: 0.4rem;
}

