@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  box-sizing: border-box;
  align-items: center;
}

.usersContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  outline: none;
  border: none;
}

.roundButton:hover {
  cursor: default;
  opacity: unset;
}

.editIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.editIcon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.iconBlocked {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.2;
}

.iconBlocked:hover {
  cursor: auto;
}

.greyButton {
  margin: 1rem;
}

.container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.goButton {
  background-color: $green;
  color: white;
  font-size: 1.2rem !important;
  font-weight: bold;
  box-sizing: border-box;
  width: 14rem !important;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.simpleHeader {
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

.balloonIcon {
  height: 1.5rem;
  margin-right: 0.4rem;
}

.loading {
  font-size: 1.3rem;
  font-weight: bold;
}

.selectHeader {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2.5rem;
  animation: bump 5s infinite;
}

.downIcon {
  height: 2.5rem;
  box-sizing: border-box;
}

.addPeopleHeader {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  animation: bump 5s infinite;
}

.upIcon {
  height: 2.5rem;
  box-sizing: border-box;
}

.activeFiltersButton {
  background-color: $blue;
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@keyframes bump {
  15% {
    scale: 1;
  }

  20% {
    scale: 1.1;
  }

  25% {
    scale: 1;
  }
}
