@import "../../../utils/responsive.scss";

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 20%;
  width: 80%;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  height: 4rem;
  margin-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 3rem;
  box-sizing: border-box;
}

.login-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: $card_grey;
  border-radius: 3px;
  padding: 2rem;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.loginButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.2rem;
}

.loginButton:hover {
  background-color: #0056b3;
}

.createAccountButton {
  background-color: $button_grey;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}

.forgotButton{
  background-color: $card_grey;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.smallButtons{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loaderContainer{
  display: flex;
}
