@import "../../../utils/responsive.scss";

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 90%;
}

.header{
  margin: 1rem 0;
  width: 100%;
}

.appBlurb{
  padding: 2rem;
  width: 100%;
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
  /* background-color: $card_grey;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.flavourImage{
  width: 18rem;
}

.flavourContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formContainer {
  margin: 4rem 0 1.5rem 0 ;
  width: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
  border-radius: 3px;
  background: conic-gradient(
    rgb(248, 157, 157) 0%,
    rgb(186, 255, 169) 33.33%,
    rgb(186, 255, 169) 33.33%,
    rgb(238, 183, 220) 41.66%,
    rgb(238, 183, 220) 41.66%,
    rgb(117, 204, 255) 74.99%,
    rgb(117, 204, 255) 74.99%,
    rgb(255, 236, 69) 83.32%,
    rgb(255, 236, 69) 83.32%,
    rgb(248, 157, 157) 99.99%
  );
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  height: 2.2rem;
  margin-bottom: -0.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 3rem;
  box-sizing: border-box;
}

.login-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  background-color: #fff;
  border-radius: 5px;
  background-color: $card_grey;
  border-radius: 3px;
  padding: 2rem;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.loginButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.2rem;
}

.loginButton:hover {
  background-color: #0056b3;
}

.createAccountButton {
  background-color: $button_grey;
  color: rgb(0, 0, 0);
  margin-top: 1rem;
}

.forgotButton {
  background-color: $card_grey;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.smallButtons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loaderContainer {
  display: flex;
}
