@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 85rem;
  width: 100%;
}

.nonMediaSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.friendsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
}

.friendIcon {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  border: 2px solid rgb(147, 147, 147);
  margin: 1rem 0;
  background-image: url("../../../images/usericon.png");
  background-size: contain;
}

.smallIcon {
  height: 1.5rem;
}

.sideBySide {
  display: flex;
  justify-content: space-between;
}

.simpleHeader {
  display: flex;
  justify-content: center;
}

.noContentBlurb {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.noImagesBlurb {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding: 1rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.outingBalloon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.3rem 0.3rem;
  cursor: pointer;
}

.friendCardButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.friendCardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 100%;
  border-radius: 4px;
}

.friendCardButton:hover {
  opacity: 0.5;
  cursor: pointer;
}
