@import "../../../utils/responsive.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.refreshButton {
  margin-bottom: 1rem;
  color: white;
  background-color: $blue;
}

.noOutingsMessage{
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: baseline;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.noOutingsMessageText{
  width: 70%;
  font-size: 1.3rem;
}
.noOutingsMessageHeader{
  font-size: 1.8rem;
}
